.btnContainer {
  margin: 20px
}

.buttonActive,
.button {
  width: 45px;
  height: 45px;
  background-color: white;
  border: 0.1px solid #ccc;
  border-radius: 8px;
  font-size: medium;
  margin: 0 5px;
}
.button:Hover,
.buttonActive {
  background-color: #3399ff;
  color: white;
}
